<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="web-norply@sp1taganrog.ru">
        <network defaultCredentials="false" host="smtp.mail.ru" port="587" userName="web-norply@sp1taganrog.ru" password="wO0NLwA*9ihh" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
